<mat-toolbar >
  <mat-toolbar-row style="font-size: 1.5rem; height: 80px;">
    <span>Agenda Lives <mat-icon>date_range</mat-icon></span>
    <span class="example-spacer"></span>
    <button mat-raised-button ><mat-icon>add</mat-icon>Live</button>
  </mat-toolbar-row>
</mat-toolbar>

<app-live-list></app-live-list>
